*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #151515;
    overflow-x: hidden;
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 100px 0;color: #fff;
}


.logo{
    width: 110px;
}

ul {
    display: flex;
}

ul li{
    list-style: none;
    margin-left: 40px;
}

.nav_right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eng{
    display: flex;
}

.dropdown {
    width: 7px;
    margin-left: 14px;
}

.button_pink{
    position: relative;
    z-index: -1;
    left: 16px;
    width: 42px;
}

li, p{
    font-size: 14px;
    color: rgb(207, 207, 207);
}


/* Main page */
.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Left side */

.main > .leftside > .heading{
    font-size: 60px;
    color: #fff;
    position: absolute;
    left: 100px;
    width: 750px;
    font-weight: 300;
}

.main > .leftside > .heading > span > span{
    font-weight: 500;
    color: #F637EC;
}

.main > .leftside > .heading > p{
    font-size: 12px;
    margin-top: 20px;
    width: 400px;
    word-spacing: 1px;
    color: rgb(207, 207, 207);

}

.getstarted{
    display: flex;
    align-items: center;
    margin-top: 300px;
    color: #fff;
}

.getstarted > .btnpink{
    width: 40px;
    position: absolute;
}

.getstarted > span{
    margin-left: 22px;
    font-weight: 400;
}

.rightarrow{
    margin-left: 10px;
    width: 40px;
}



/* Right side */


.frontcards{
    width: 750px;
    position: absolute;
    right: -170px;
}


.backcards{
    width: 750px;
    position: relative;
    bottom: 60px;
    left: 110px;
    z-index: -1;
}




/* section 2 */
/* .section2{
    background-color: #292929;
    height: 300px;
} */