*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #151515;
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 100px 0;color: #fff;
}


.logo{
    width: 110px;
}

ul {
    display: flex;
}

ul li{
    list-style: none;
    margin-left: 20px;
}

.nav_right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eng{
    display: flex;
}

.dropdown {
    width: 7px;
    margin-left: 14px;
}

.button_pink{
    position: relative;
    z-index: -1;
    left: 16px;
    width: 42px;
}

li, p{
    font-size: 14px;
    color: rgb(207, 207, 207);
}

