*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F6F8FA;
}

.hero{
    height: 846px;
}

.hero_bk{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    background-position: 0 -55px; 
    padding: 30px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;   
}

.navbar img{
    width: 130px;
}

.hero_list{
    display: flex;
    gap: 60px;
    color: #fff;
    font-weight: 200;
    list-style: none;
}

.nav_line{
    height: 2px;
    width: auto;
    background-color: #576278;
    margin: 30px 90px;
}

.heromain{
    margin: 130px 140px;
}

.heromain h1{
    font-size: 65px;
    font-weight: 600;
    width: 600px;
    text-transform:capitalize;
    color: #fff;
}

.heromain p{
    color: #A1A5A5;
    font-weight: 400;
    width: 400px;
    margin: 25px 0;
}

.heromain button{
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    background-color: #6663E9;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

/* Logos */
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    padding: 60px 50px;
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 80px;
    left: 40px;
    border-radius: 20px;
}

.logos img{
    width: 150px;
}

/* Best Estate */
.best_estate{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 180px;
}

.best_estate h2{
    font-size: 55px;
    font-weight: 600;
    width: 450px;
    text-align: center;
    color: #27292E;
    margin-bottom: 30px;
}

.estate_1{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.estate_image{
    width: 340px;
    height: 370px;
    overflow: hidden;
    border-radius: 15px;
}

.img_1{
    position: relative;
    right: 160px;
    width: 660px;
}

.img_2{
    position: relative;
    width: 580px;
}

.img_3{
    position: relative;
    width: 680px;
    right: 170px;
}

.estate_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
    left: 15px;
    background-color: #fff;
    padding: 15px 15px;    
    width: 310px;
    border-radius: 10px;
}

.estate_left h3{
    color: #434854;
    font-weight: 600;
    font-size: 22px;
}

.estate_left p{
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    color: #6663E9;
}

.estate_btn{
    padding: 15px 35px;
    border: none;
    background-color: #6663E9;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}

.estate_2, .estate_3{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.estatecard_1:nth-child(2){
    margin-top: 30px;
}

.estatecard_1:nth-child(3){
    margin-top: 60px;
}

.img_4{
    position: relative;
    right: 160px;
    width: 660px;
}

.img_5{
    position: relative;
    width: 660px;
    right: 150px;
}

.img_6{
    position: relative;
    width: 680px;
    right: 170px;
}

.estatecard_2:nth-child(2){
    margin-top: 30px;
}

.estatecard_2:nth-child(1){
    margin-top: 60px;
}

.img_7{
    position: relative;
    right: 160px;
    width: 660px;
}

.img_8{
    position: relative;
    width: 370px;
}

.img_9{
    position: relative;
    width: 640px;
    right: 230px;
}

.estatecard_3:nth-child(2){
    margin-top: 30px;
}

.estatecard_3:nth-child(3){
    margin-top: 60px;
}

/* Modern */
.modern_left{
    padding-top: 100px;
    display: flex;
}

.modern_left1 > .feature_1{
    width: 630px;
}

.modern_left1 > .image1{
    width: 465px;
    height: 425px;
    overflow: hidden;
    position:absolute;
    top: 2940px;
    left: 110px; 
    border-radius: 50px;
}

.image1 > img{
    position: relative;
    width: 585px;
    right: 90px;
}

.modern_right1{
    margin:50px 0 0 150px;
}

.modern_right1 h2{
    font-size: 55px;
    font-weight: 600;
    width: 500px;
    color: #27292E;
}

.modern_right1 p{
    color: #5B5F68;
    width: 500px;
    margin: 30px 0;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
}

.modern_btn{
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    background-color: #6663E9;
    color: #fff;
}

/* Modern right */
.modern_right{
    display: flex;
    padding-top: 100px;
    justify-content: flex-end;
}

.modern_right2 > .feature_2{
    width: 630px;
}

.modern_right2 > .image2{
    width: 465px;
    height: 425px;
    overflow: hidden;
    position:absolute;
    top: 3560px;
    right: 111px; 
    border-radius: 50px;
}

.image2 > img{
    position: relative;
    width: 635px;
    right: 92px;
}

.modern_left2{
    margin:50px 150px 0 0;
}

.modern_left2 h2{
    font-size: 55px;
    font-weight: 600;
    width: 450px;
    color: #27292E;
}

.modern_left2 p{
    color: #5B5F68;
    width: 450px;
    margin: 30px 0;
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
}

/* Subscribe */
.subscribe{
    padding: 35px 50px;
}

.subscribe > .bk_purple{
    background-color: #6663E9;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 80px 0;
    border-radius: 50px;
}

.bk_purple h2{
    font-size: 56px;
    text-align: center;
}

.bk_purple p{
    width: 600px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.subscribe_box > input{
    background:url(./Icons/mail.png);
    background-repeat: no-repeat;
    background-position: 21px 10px;
    padding: 17px 40px;
    width: 440px;
    border: none;
    border-radius: 50px;
    background-color: #5654D1;
    background-size: 28px;
}

.subscribe_box > input::placeholder{
    color: rgb(211, 211, 211, 0.4);
    padding-left: 22px;
    font-size: 14px;
}

.subscribe_box button{
    padding: 16px 40px;
    border-radius: 50px;
    border: none;
    color: #6663E9;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

/* Footer */


.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 95px 150px;
}

.footer_left > .footer_logo{
    width: 160px;
}

.footer_left p{
    font-size: 18px;
    color: #27292E;
    line-height: 30px;
    margin-top: 35px;
}

.icons{
    margin: 20px 0;
}

.icons img{
    width: 40px;
}

.icons img:nth-child(2){
    margin: 0 20px;
}

.footer_right ul{
    color: #27292E;
}

.footer_right{
    display: flex;
    gap: 130px;
}

.footer_right > .footer_list{
    list-style: none;
}


.footer_right > .footer_list li{
    margin-top: 30px;
    font-size: 16px;
}

.footer_right > .footer_list li:first-child{
    font-weight: 600;
    font-size: 18px;
    /* margin-bottom: 15px; */
    margin-top: 0;
}

/* Made with love */
.name{
    color: #5654D1;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}

.name  span{
    color: #9d0208;
}

.name a{
    text-decoration: none;
}

.name a:visited{
    color: #5654D1;
    text-decoration: none;
}