*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -55px; 
    padding: 30px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;   
}

.navbar img{
    width: 130px;
}

ul{
    display: flex;
    gap: 60px;
    color: #fff;
    font-weight: 200;
    list-style: none;
}

.nav_line{
    height: 2px;
    width: auto;
    background-color: #576278;
    margin: 30px 90px;
}

.heromain{
    margin: 130px 140px;
}

.heromain h1{
    font-size: 65px;
    font-weight: 600;
    width: 600px;
    text-transform:capitalize;
    color: #fff;
}

.heromain p{
    color: #A1A5A5;
    font-weight: 400;
    width: 400px;
    margin: 25px 0;
}

.heromain button{
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    background-color: #6663E9;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}