*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero_Section */

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(./Assets/Photos/futuristic-bg.png); 
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 0px -130px;
    height: 120%;
    width: 100%;
    position: absolute;
    padding: 30px 0;
}



.container > img{
    width: 100%;
    height: 100%;
    object-position: 0px -130px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin: 0 100px;
    color: #fff;
}

.navbar > .list_nav{
    display: flex;
    align-items:center;
}

.navbar > .list_nav > ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar > .list_nav > ul > li:first-child{
    margin-left: 100px;
}

.navbar > .list_nav > ul > li{
    font-size: 14px;
}

.navbar > .btn_nav > .signin_nav{
    font-size: 14px;
    margin-right: 10px;
}

.navbar > .btn_nav > .signup_nav{
    background-color: #F4694C;
    color: #fff;
    border: none;
    padding: 10px 30px;
}

/* Hero */
.hero{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 100px;
    padding: 0 100px;
}


.left > h1{
    width: 500px;
    font-size: 45px;
    font-weight: 600;
}

.left > p{
    width: 500px;
    font-size: 14px;
    font-weight: 500;
    color: #817E7E;
    line-height: 25px;
    margin: 30px 0;
}

.left > .btn_left > .btn_getstarted{
    background-color: #F4694C;
    padding: 15px 35px;
    border: none;
    color: #fff;
}

.left > .btn_left > .learnmore{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 14px 35px;
    color: #fff;
    margin-left: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right > img{
    width: 75px;
    margin-top: 20%;
}

.right > .right_para{
    display: flex;
    margin-top: 170px;
}

.right > .right_para > .dash_right{
    margin: 0 20px 85px 0;   
}

.right > .right_para > .arrow_right{
    width: 55px;
    margin: 85px  0  20px ;
}

.right > .right_para >p{
    width: 230px;
    font-size: 22px;
}

/* Game */
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.game > h2{
    margin: 200px 0 50px;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 36px;
    width: 50%;
    text-align: center;
}

.cards_game{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}

.card_game{
    width: 260px;
    height: 300px;
    overflow: hidden;
    position: relative;
    left: 10px;
}

.img_game{
    display: block;
    width: 576px;
}

.card_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255,0.1);
    width: 100%;
    height: 25%;
    padding: 0 15px;
}

.card_left h3{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.card_left p{
    color: #ACACAC;
    font-size: 12px;
    font-weight: 600;
}

.card_btn{
    background-color: #F4694C;
    color: #fff;
    border: none;
    padding: 7px 15px;
    font-weight: 300;
    font-size: 12px;
}

.card_image1{
    position: absolute;
    left: -92%;
}
.blur1{
    backdrop-filter: blur(50px);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 102px;
    width: 100%;
}

.card_image2{
    position: absolute;
    left: -65%;
}
.blur2{
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 91px;
    width: 100%;
}

.card_image3{
    position: absolute;
    left: -56%;
}
.blur3{
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 135px;
    width: 100%;
}

.card_image4{
    position: absolute;
    left: -56%;
}
.blur4{
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
}

/* Game_Description */
.game_des{
    display: flex;
    align-items: center;
    padding: 100px 100px;
}

.game_left{
    width: 450px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.game_right{
    margin-left: 100px;
}

.game_des img{
    display: block;
    width: 650px; 
    margin-left: -80px;  
}

.game_right h2{
    text-transform: capitalize;
    width: 450px;
    font-size: 36px ;
    font-weight: 700;
}

.game_right P{
    font-size: 12px;
    color: #929292;
    font-weight: 500;
    margin: 20px 0;
}

.game_right > .game_btn > .explorenow{
    background-color: #F4694C;
    padding: 12px 30px;
    border: none;
    color: #fff;
}

.game_right > .game_btn > .learnmore{
    background-color: transparent;
    padding: 12px 30px;
    border: 1px solid #F4694C;
    color: #F4694C;
    margin-left: 15px;
}

/* Game week */
.week{
    padding: 100px;
}

.week_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week_heading h2{
    font-size: 38px;
    width: 500px;
}

.week_boxarrow{
    display: flex;
    gap: 10px;
}

.week_boxarrow > .leftarrow{
    width: 50px;
    height: 50px;
    background-color: #FDE1DB;
}

.leftarrow > img{
    position: relative;
    top: 25%;
    left: 25%;
}

.week_boxarrow > .rightarrow{
    width: 50px;
    height: 50px;
    background-color: #F4694C;
}

.rightarrow > img{
    position: relative;
    top: 25%;
    left: 25%;
}

.week_cards{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    gap: 100px;
    margin-top: 50px;
}

.wcard{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wcard_img{
    width: 220px;
}

.wcard_heading{
    width: 250px;
    font-size: 22px;
    font-weight: 600;
}

.wcard_subheading{
    font-weight: 500;
    color: #F4694C;
    font-size: 14px;
    margin: 10px 0;
}

.wcard_para{
    font-size: 13px;
    font-weight: 500;
    color: #9E9E9E;
    line-height: 25px;
    margin: 20px 0;
}

.wcard_btn{
    background-color: #F4694C;
    border: none;
    color: #fff;
    padding: 15px 35px;
}

/* Most played game */
.mostplayed{
    background-color: #000308;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 850px;
}

.mostplayed h2{
    color: #fff;
    font-size: 34px;
    text-align: center;
}

.mostplayed p{
    color: #9E9E9E;
    position: relative;
    top: 80px;
    left: 70px;
    font-size: 12px;
    line-height: 25px;
}

.mostplayed_1{
    position: relative;
    width: 350px;
    bottom: 50px;
    left: -405px;
    z-index: 1;
}

.mostplayed_2{
    position: relative;
    width: 300px;
    bottom: 260px;
    right: 20px;
    z-index: 1;
}

.mostplayed_3{
    position: relative;
    width: 300px;
    left: 320px;
    bottom: 510px;
    z-index: 1;
}

.mostplayed_4{
    position: absolute;
    margin: 280px 0 0 425px;
    width: 920px;
}

/* Game */
.gamer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Assets/Photos/Rectangle\ 606.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    color: #fff;
}

.gamer h2{
    font-size: 34px;
    text-align: center;
}

.gamer p{
    font-size: 12px;
    color: #9E9E9E;
    text-align: center;
    margin: 30px 0;

}

.gamer button{
    background-color: #F4694C;
    color: #fff;
    border: none;
    padding: 15px 35px;
    font-weight: 300;
    font-size: 14px;
    font-weight: 500;
}
