*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background-color: #111010;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px  100px ;
}

.navbar > ul{
    display: flex;
    list-style: none;
    color: #9B9A9A;
    font-size: 18px;
}

.navbar > ul > li{
    margin-left: 50px;
    font-weight: 500;
}

.navbar > button{
    padding: 12px 35px;
    color: #fff;
    background-color: #0C8BFD;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}

/* Main */
.main{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.main > .left > h1{
    width: 600px;
    color: #fff;
    font-size: 65px;
    font-weight: 600;
}

.main > .left > h1 > span{
    color: #0C8BFD;
    font-style: italic;
}

.main > .left > p{
    color: #9B9A9A;
    font-size: 21px;
    width: 590px;
    margin: 40px 0;
}

.main > .left > .button_grp > .blue_btn{
    padding: 14px 25px;
    color: #fff;
    background-color: #0C8BFD;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
}

.main > .left > .button_grp > .grey_btn{
    padding: 14px 25px;
    color: #fff;
    background-color: #111010;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid white;
    margin-left: 20px;
}

.main > .right > img{
    margin-bottom: 80px;
}

/* Info bar */
.info_bar{
    background-color: #1D1C1C;
    display: flex;
    justify-content: space-between;
    padding: 40px 250px;
}

/* Service */
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background-color: #fff;
}

.service > h2{
    font-size: 50px;
    font-weight: 500;
}

.service > p{
    font-size: 20px;
    font-weight: 500;
    width: 500px;
    text-align: center;
    color: #9B9A9A;
    margin: 20px 0;
}

.cards{
    display: flex;
    align-items: center;
    /* padding: 0 100px; */
    margin-top: 50px;
}

.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid #9B9A9A;
    border-radius: 20px;
}

.card2{
    margin: 0 50px;
    background-color: #111010;
    margin-bottom: 100px;
    box-shadow: 0 10px  40px rgb(168, 168, 168);
    border: none;
}

.card2 > h3{
    color: #fff;
}

.para_card{
    width: 340px;
    font-weight: 500;
    font-size: 20px;
    color: #5C5B5B;
    text-align: center;
    margin-bottom: 25px;
}

.head_card{
    font-size: 28px;
    font-weight: 600;
    margin: 25px 0;
}

/* Support */
/* list_1 */
.support{
    background-color: #fff;
    padding: 0 100px 80px 100px;
}

.support > h2{
    font-size: 56px;
    font-weight: 600;
    width: 1200px;
}

.support > .list_supp{
    display: flex;
    justify-content: space-between;
}

.support > .list_supp > .list_1{
    margin-top: 30px;
}

.support > .list_supp > .list_1 > .list, .list1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 35px 35px;
    margin: 20px 0;
    border: 1px solid #9B9A9A;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 600;
    width: 650px;
}

.support > .list_supp > .list_1 > .list1{
    background-color: #0C8BFD;
    border: none;
    color: #fff;
}

/* list_2 */
.list_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111010;
    padding: 10px 20px;
    margin: 50px 0 0 30px;
    border-radius: 40px;
    height: 635px;
}

.list_2 > .dark_list{
    display: flex;
    align-items: center;
    background-color: #292828;
    color: #D9D9D9;
    margin: 7px 0;
    padding: 15px;
    width: 450px;
    border-radius: 50px;
}

.list_2 > .dark_list > .circle{
    background-color: #D9D9D9;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
}

.list_2 > .dark_list > .dark_text{
    font-size: 20px;
}

/* Pricing */
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.pricing > h2{
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    width: 800px;
    text-align: center;
}

.pricing > .left_arrow{
    position: absolute;
    left: 150px;
    margin-bottom: 650px;
    width: 55px;
}

.pricing > .right_arrow{
    position: absolute;
    right: 150px;
    margin-bottom: 650px;
    width: 55px;
}

.pricing > .cards_pricing {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.cards1, .cards3{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 30px;
    width: 350px;
    margin-left: 30px;
}

.card_heading{
    font-size: 30px;
    font-weight: 600;
}

.card_dollar{
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
}

.check{
    display: flex;
    align-items: center;
    padding: 7px 0;
    font-size: 16px;
    font-weight: 500;
}

.card_month{
    font-size: 28px;
    color: #8E8D8D;
}

.card_sentence{
    font-size: 14px;
    font-weight: 600;
}

.card_line{
    background-color: #E7E7E7;
    height: 2px;
    width: auto;
    margin: 20px 0;
}

.check > span{
    margin-left: 10px;
}

.card_btn{
    background-color: #0C8BFD;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 500;
}

/* blue-card */
.cards2{
    background-color: #0C8BFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 30px;
    width: 350px;
    margin-left: 30px;
}

.cards2 > .card_heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.cards2 > .card_dollar{
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
}

.cards2 > .check{
    display: flex;
    align-items: center;
    padding: 7px 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.cards2 > .card_dollar > .card_month{
    font-size: 28px;
    color: #81C3FE;
}

.cards2 > .card_sentence{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.cards2 > .card_line{
    background-color: #81C3FE;
    height: 2px;
    width: auto;
    margin: 20px 0;
}

.cards2 > .check > span{
    margin-left: 10px;
}

.cards2 > .card_btn{
    background-color: #fff;
    color: #0C8BFD;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 500;
}